
body {
    padding: 0 10%;
}

.navigation-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    color: #333;
    cursor: pointer;
    z-index: 1000;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.good-button, .ok-button, .bad-button, .download-button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.ok-button {
    background-color: #FFC107;
    color: white;
}

.ok-button:hover {
    background-color: #FFA000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.good-button {
    background-color: #4CAF50;
    color: white;
}

.good-button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bad-button {
    background-color: #f44336;
    color: white;
}

.bad-button:hover {
    background-color: #e53935;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.good-button.pressed {
    background-color: #2E7D32; /* Darker green */
    box-shadow: inset 0 0 10px #000; /* More pronounced shadow */
    transform: translateY(2px); /* Slight downward movement */
    color: #fff; /* Ensure text color remains white */
    font-weight: bold; /* Make text bold when pressed */
}

.bad-button.pressed {
    background-color: #C62828; /* Darker red */
    box-shadow: inset 0 0 10px #000; /* More pronounced shadow */
    transform: translateY(2px); /* Slight downward movement */
    color: #fff; /* Ensure text color remains white */
    font-weight: bold; /* Make text bold when pressed */
}

.ok-button.pressed {
    background-color: #FFA000; /* Darker orange */
    box-shadow: inset 0 0 10px #000; /* More pronounced shadow */
    transform: translateY(2px); /* Slight downward movement */
    color: #fff; /* Ensure text color remains white */
    font-weight: bold; /* Make text bold when pressed */
}

.download-button {
    background-color: #2196F3;
    color: white;
}

.download-button:hover {
    background-color: #1976D2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progress {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
